# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.idea
node_modules
broadcast

*.log
*_PID

# forge deploy stuff
/generated
/deployments/localhost
/deployments/31337

# forknet stuff
glue.pid
glueConfig.json
runningForks.json
deployments/*forknet_deployments.json

# hardhat stuff
dist/
decent.xyz-hardhat-decent-bridge-*tgz

.DS_Store

